$colorPrimary: #08a6e4;
$colorPrimaryShadow: rgba(7, 172, 230, 0.16);
$colorRedish: #fb3b64;
$colorGreen: #55dfb4;
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorGrey: #a5a5a5;
$colorLightGrey: #f7f7f7;


